<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">    
    <link rel="stylesheet" type="text/css" href="/css/form.css">    
    <title>Cadastro de Compras</title>
</head>
<body>
    <%- include("../../snippets/header.ejs", {user:userLogged}); %>
    <%- include("../../snippets/nav.ejs", {user:userLogged}); %>
    <main>
        <form action="../save/" method="post">
            <h1>Formulário de Cadastro de Compra</h1>
            
            <label for="user">CPF do usuário:</label>
            <input type="text" name="user" id="user" onkeypress='return event.charCode >= 48 && event.charCode <= 57' minlength="11" maxlength="11" required>

            <label for="game">ID do Jogo:</label>
            <input type="text" name="game" id="game" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="11" required><br>

            <input type="submit" name="action" value="Salvar">
            <input type="submit" name="action" value="Cancelar" formnovalidate>
        </form>
    </main>
    <%- include("../../snippets/footer.ejs"); %>
</body>
</html>