<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <title>Home</title>
</head>
<body>
    
    <div id="container">
        <%- include("snippets/header.ejs", {user:false}); %>
        <%- include("snippets/nav.ejs"); %>
        <main>
            <section id="options">
                <div class="row">
                    <h1>Aventura</h1>
                    <br>
                    <div class="games">
                        <div class="card">
                            <a href="#"><img src="img/placeholder.png"></img></a>
                            <p>afuyhauf awdawdas asdaw a aaaaaaaaaaaaaaaaaaaaaa a aa a aa a</p>
                        </div>
                        <div class="card">
                            <a href="#"><img src="img/placeholder.png"></img></a>
                            <p>afuyhauf awdawdas asdaw a aaaaaaaaaaaaaaaaaaaaaa a aa a aa a</p>
                        </div>
                        <div class="card">
                            <a href="#"><img src="img/placeholder.png"></img></a>
                            <p>afuyhauf awdawdas asdaw a aaaaaaaaaaaaaaaaaaaaaa a aa a aa a</p>
                        </div>
                        <div class="card">
                            <a href="#"><img src="img/placeholder.png"></img></a>
                            <p>afuyhauf awdawdas asdaw a aaaaaaaaaaaaaaaaaaaaaa a aa a aa a</p>
                        </div>
                        <div class="card">
                            <a href="#"><img src="img/placeholder.png"></img></a>
                            <p>afuyhauf awdawdas asdaw a aaaaaaaaaaaaaaaaaaaaaa a aa a aa a</p>
                        </div>
                        <div class="card">
                            <a href="#"><img src="img/placeholder.png"></img></a>
                            <p>afuyhauf awdawdas asdaw a aaaaaaaaaaaaaaaaaaaaaa a aa a aa a</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h1>Aventura</h1>
                    <br>
                    <div class="games">
                        <div class="card">
                            <a href="#"><img src="img/placeholder.png"></img></a>
                            <p>afuyhauf awdawdas asdaw a aaaaaaaaaaaaaaaaaaaaaa a aa a aa a</p>
                        </div>
                        <div class="card">
                            <a href="#"><img src="img/placeholder.png"></img></a>
                            <p>afuyhauf awdawdas asdaw a aaaaaaaaaaaaaaaaaaaaaa a aa a aa a</p>
                        </div>
                        <div class="card">
                            <a href="#"><img src="img/placeholder.png"></img></a>
                            <p>afuyhauf awdawdas asdaw a aaaaaaaaaaaaaaaaaaaaaa a aa a aa a</p>
                        </div>
                        <div class="card">
                            <a href="#"><img src="img/placeholder.png"></img></a>
                            <p>afuyhauf awdawdas asdaw a aaaaaaaaaaaaaaaaaaaaaa a aa a aa a</p>
                        </div>
                        <div class="card">
                            <a href="#"><img src="img/placeholder.png"></img></a>
                            <p>afuyhauf awdawdas asdaw a aaaaaaaaaaaaaaaaaaaaaa a aa a aa a</p>
                        </div>
                        <div class="card">
                            <a href="#"><img src="img/placeholder.png"></img></a>
                            <p>afuyhauf awdawdas asdaw a aaaaaaaaaaaaaaaaaaaaaa a aa a aa a</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h1>Aventura</h1>
                    <br>
                    <div class="games">
                        <div class="card">
                            <a href="#"><img src="img/placeholder.png"></img></a>
                            <p>afuyhauf awdawdas asdaw a aaaaaaaaaaaaaaaaaaaaaa a aa a aa a</p>
                        </div>
                        <div class="card">
                            <a href="#"><img src="img/placeholder.png"></img></a>
                            <p>afuyhauf awdawdas asdaw a aaaaaaaaaaaaaaaaaaaaaa a aa a aa a</p>
                        </div>
                        <div class="card">
                            <a href="#"><img src="img/placeholder.png"></img></a>
                            <p>afuyhauf awdawdas asdaw a aaaaaaaaaaaaaaaaaaaaaa a aa a aa a</p>
                        </div>
                        <div class="card">
                            <a href="#"><img src="img/placeholder.png"></img></a>
                            <p>afuyhauf awdawdas asdaw a aaaaaaaaaaaaaaaaaaaaaa a aa a aa a</p>
                        </div>
                        <div class="card">
                            <a href="#"><img src="img/placeholder.png"></img></a>
                            <p>afuyhauf awdawdas asdaw a aaaaaaaaaaaaaaaaaaaaaa a aa a aa a</p>
                        </div>
                        <div class="card">
                            <a href="#"><img src="img/placeholder.png"></img></a>
                            <p>afuyhauf awdawdas asdaw a aaaaaaaaaaaaaaaaaaaaaa a aa a aa a</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h1>Aventura</h1>
                    <br>
                    <div class="games">
                        <div class="card">
                            <a href="#"><img src="img/placeholder.png"></img></a>
                            <p>afuyhauf awdawdas asdaw a aaaaaaaaaaaaaaaaaaaaaa a aa a aa a</p>
                        </div>
                        <div class="card">
                            <a href="#"><img src="img/placeholder.png"></img></a>
                            <p>afuyhauf awdawdas asdaw a aaaaaaaaaaaaaaaaaaaaaa a aa a aa a</p>
                        </div>
                        <div class="card">
                            <a href="#"><img src="img/placeholder.png"></img></a>
                            <p>afuyhauf awdawdas asdaw a aaaaaaaaaaaaaaaaaaaaaa a aa a aa a</p>
                        </div>
                        <div class="card">
                            <a href="#"><img src="img/placeholder.png"></img></a>
                            <p>afuyhauf awdawdas asdaw a aaaaaaaaaaaaaaaaaaaaaa a aa a aa a</p>
                        </div>
                        <div class="card">
                            <a href="#"><img src="img/placeholder.png"></img></a>
                            <p>afuyhauf awdawdas asdaw a aaaaaaaaaaaaaaaaaaaaaa a aa a aa a</p>
                        </div>
                        <div class="card">
                            <a href="#"><img src="img/placeholder.png"></img></a>
                            <p>afuyhauf awdawdas asdaw a aaaaaaaaaaaaaaaaaaaaaa a aa a aa a</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <%- include("snippets/footer.ejs"); %>
    </div>
</body>
</html>