header {
    background-color: #154C6E;
    width: 100%;
    position: fixed;
    margin-bottom: 10px;
    z-index: 1;
}

header #login {
    padding: 23px 0;
    margin-left: 90%;
    position: relative;
}

header #login a {
    color: #71bfff;
    text-decoration: none;
}

header #logged {
    padding: 12.5px 0;
}

header #logged select {
    padding: 0 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding-top: 4px;
    margin-left: 80%;
}