<link rel="stylesheet" type="text/css" href="/css/header.css">
<header>
    <% if (user) { %>
        <div id="logged">
            <select onchange="window.location.replace(this.value);">
                <option style="display:none"><%= user.name %></option>
                <option value="/login/exit/">Sair</option>
                <option value="/login/register/?cpf=<%= user.cpf %>">Editar</option>
                <option value="/login/delete/?cpf=<%= user.cpf %>">Excluir</option>
            </select>
        </div>
    <% } else { %>
        <div id="login">
            <a href="/login/">Entrar</a>
        </div>
    <% } %>
</header>