<link rel="stylesheet" type="text/css" href="/css/nav.css">
<nav>
    <a href="/"><h1>Aqueous</h1></a>
    <% if (user) { %>
        <ul>
            <a href="/acquired/"><li>Jogos Adquiridos</li></a>
            <a href="/publish/"><li>Publicar Jogos</li></a>
        </ul>
    <% } else { %>
        <ul>
            <a href="/admin/users/"><li>Cadastro de Usuários</li></a>
            <a href="/admin/genres/"><li>Cadastro de Gêneros</li></a>
            <a href="/admin/games/"><li>Cadastro de Jogos</li></a>
            <a href="/admin/purchases/"><li>Cadastro de Compras</li></a>
        </ul>
    <% } %>
</nav>