<nav>
    <ul>
        <li><a href="/clients/">Cadastro de Clientes</a></li>
        <li><a href="/games/">Cadastro de Jogos</a></li>
        <li><a href="/purchases/">Cadastro de Compras</a></li>
    </ul>
</nav>