<link rel="stylesheet" type="text/css" href="/css/nav.css">
<nav>
    <a href="/"><h1>Aqueous</h1></a>
    <ul>
        <a href="/users/"><li>Cadastro de Usuários</li></a>
        <a href="/games/"><li>Cadastro de Jogos</li></a>
        <a href="/purchases/"><li>Cadastro de Compras</li></a>
    </ul>
</nav>