<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Jogos</title>
</head>
<body>
    <h1>Formulário de Jogos</h1>
    <form action="../insert/" method="post">
        <label for="title">Título:</label>
        <input type="text" name="title" id="title"><br>

        <label for="genre">Gênero:</label>
        <input type="text" name="genre" id="genre"><br>

        <label for="developer">Desenvolvedor:</label>
        <input type="text" name="developer" id="developer"><br>

        <label for="publication">Data de Publicação:</label>
        <input type="date" name="publication" id="publication"><br>

        <label for="price">Preço:</label>
        <input type="float" name="price" id="price"><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>