<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <link rel="stylesheet" type="text/css" href="/css/form.css">
        <title>Login</title>
        <script>
            let message = "<%= message %>";
            if (message != "") {
                alert(message);
            }
        </script>
    </head>
    <body>
        <div id="container">
            <%- include("../../snippets/header.ejs", {user:undefined}); %>
            <%- include("../../snippets/nav.ejs", {user:undefined}); %>
            <main>
                <form action="./" method="post">
                    <h1>Entre em sua conta</h1>
                    <label for="cpf">CPF</label>
                    <input type="text" name="cpf" id="cpf" placeholder="Digite seu CPF"><br>
        
                    <label for="password">Senha</label>
                    <input type="text" name="password" id="password" placeholder="Digite sua Senha"><br><br>

                    <p><a href="./register/">Cadastrar-se</a></p><br>
        
                    <input type="submit" name="action" value="Entrar">
                    <input type="submit" name="action" value="Voltar">
                </form>
            </main>
            <%- include("../../snippets/footer.ejs"); %>
        </div>
    </body>
</html>